
.back-arrow-material{
    border-radius: 5px;
    background-color: blueviolet;
    color: white;
    font-weight: bold;
    padding: 10px;
  }
  .po-field-material {
    margin: 0px 10px 0px 10px;
    border: 2px solid rgb(247, 242, 242); 
    border-radius: 5px;
    display: flex;
    color: white;
    gap: 10px;
    align-items: center;
    font-weight: bold;
    padding-left: 10px;
  } 


  .responsive-container-material {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
  } 

  .mat-table-card {
    border-radius: 5px;
    max-height: 70vh;
    width: 100%;
    background-color: #34aaa4;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    transition: all 3s ease;
    overflow-y: auto;
    margin: 10px; 
  } 
  .mat-size-container {
  border-radius: 12px;
  max-height: 800px;
  } 
  
  .mat-size-headding{
    color: #aa34c7;
    margin: 0 0 10px 0;
  } 
  .mat-size-table {
    width: 100%;
  }
  
  .mat-size-table th,
  .mat-size-table td {
    padding: 12px 16px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
    font-size: 14px;
    color: #080808;
  }
  
  .mat-size-table th {
    background-color: #bd84eb;
    font-weight: 600;
    color: #3a3ce9;
    position: sticky;
  }
  
  .mat-size-table td {
    background-color: white;
  }
  
  .mat-size-table tr:hover {
    background-color: #0b80f5;
  }
  
  .mat-size-table tr:last-child td {
    border-bottom: none;
  } 
  .green-background {
    background-color: rgb(12, 192, 12);
  } 
  .red-background {
    background-color: rgb(221, 21, 21); 
  }
  .head-div {
    display: flex;
    gap: 10px;
    border: 2px solid rgb(238, 232, 232);
    background-color: white; 
    padding: 0px  10px 0px 0px ;
    border-radius: 4px ;
    align-items: center;      
    justify-content: center;   
    text-align: center; 
   
  }
  .head {
    color: rgb(14, 13, 13);
    font-size: 16px;
    font-weight: bold;
    background-color: #6d97f0;
    padding: 10px 20px; 
    border-radius: 4px;
  }
  .table-details {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    font-weight: bold;
    color: white;
    font-size: 16px;
    margin-bottom:10px ;
    margin-top: 10px;
  }
  .table-details span {
    background-color: rgb(243, 170, 170);
    padding: 5px;
    border: none;
    border-radius: 5px;
    color: black;
  }
    